.container {
  width: 700px;
  margin: 50px auto;
  padding: 30px 25px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.title {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.text {
  font-size: 1rem;
  color: #555;
  margin: 10px 0;
}

.referralBox {
  display: flex;
  margin-top: 15px;
  align-items: center;
}

.referralInput {
  height: 40px;
  flex: 1 1 250px;
  padding: 10px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.referralButton {
  padding: 0 20px;
  height: 40px;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: #28a745;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.referralButton:hover {
  background-color: #1e7e34;
}

.logoutButton {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #dc3545;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.logoutButton:hover {
  background-color: #a71d2a;
}

/* Responsividade */
@media (max-width: 480px) {
  .container {
    margin: 30px 15px;
    padding: 25px 20px;
  }

  .referralBox {
    flex-direction: column;
  }

  .referralInput {
    border-radius: 8px;
    margin-bottom: 10px;
    max-height: 40px;
  }

  .referralButton {
    border-radius: 8px;
    margin-top: 0;
  }
}
